
body {
    background: lightgray;
    text-align: center;
    text-transform: uppercase;


}

.wrapper {
    margin: 5% 30%;
    padding: 50px;
    background: white;
    border-radius: 50px;
}


.profile-pic {
    object-fit: cover;
    border-radius: 100%;
    width: 30%;
}

.socialMedia {
    width: 512px;
    height: 512px;
    padding: 10px 40px;
    color: black;
}

.socialMedia:hover {
    color: dodgerblue;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.links:hover {
    color: dodgerblue;
}

hr{
    margin: 50px 0;
}

h1 {
    font-size: 300%;

}

p {
    font-size: 100%;
}

@media only screen and (max-width: 1000px) {

    .wrapper {
        margin: 5% 5%;

    }

    h1 {
        font-size: 300%;
    }

    p {
        font-size: 100%;
    }


}